

body{
  background-color: #000;
  font-family: 'Yuji Boku', serif;
  text-align: center;
  justify-content: center;
  margin: 0;
}

body section{
  margin-left: 10%;
  margin-right: 10%;
}
h1{
  color: #4b0f08;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: .375rem;
  margin-bottom: 5%;
  text-shadow: 0rem -0.2rem 0rem #735c40;
}
h2{
  color: #4b0f08;
  text-shadow: .1rem 0rem 0rem #595443;
  text-align: center;
}
p{
  font-size: 2rem;
  color: #735c40;
}

form > label{
  display: flex;
  justify-content: center;
}

footer{
  color: #735c40;
  background: #4b0f08;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 1.25rem;
  padding: 10px 0 10px;
  margin-top: 20%;
}

/*header start*/
.index-h1 {
  margin-right: 10%;
  margin-left: 10%;
}

.index-h1::before,
.index-h1::after {
  background: #735c40;
  content: "";
  display: block;
  height: 10px;
  width: 100%;
}

.index-h1 h1{
  margin: 3%;
}
 
.main-header{
  margin-top: 10%;
}

.index-img-box img{
  border-radius: 14px;
  border: solid 5px #595443;
}

.index-img-1 img{
  height: 200px;
  margin-bottom: -10%;
}

.index-img-2 img{
  height: 500px;
  transform: rotate(90deg);
  width: 15%;
}


/*menu start*/
.nav-container{
  margin: 0 auto;
  max-width: 51%;
  transform: rotate(90deg);
  width: 85%;
  position: fixed;
  right: -20%;
  top: 81%;
}

.nav-menu ul{
  justify-content: space-between;
  width: 4%;
  padding: 0;
  margin: 0;
}

.nav-menu ul li{
  display: inline-block;
}

.nav-menu ul li a{
  color: #0000;
  display: block;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 1.5625rem;
  letter-spacing: .625rem;
  transition: 1.4s;
  background: 
    linear-gradient(90deg,#900000 50%,#735c40 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
}

.nav-menu a:hover{
  --_p: 0%;
  font-size: 1.5rem;
}

.home-icon{
  color: #735c40;
  transform: rotate(270deg);
  font-size: 2.5rem;
  padding-left: 30%;
}



/*profile starts*/

.profile-container h2{
  display: inline-block;
  font-family: 'UnifrakturMaguntia', cursive;  
  font-size: 4.375rem;
  font-weight: normal;
  padding: 1.25rem;
}

.profile-container img, iframe{
  border-color: #735c40;
  border-style: double;
  border-width: 10px;
}

.proyects-img img, iframe{
  max-width: 60%;
  height: 400px;
}

.img2,.img3{
  max-width: 50%;
}

.profile-container span{
  font-family: 'UnifrakturMaguntia', cursive;
}



 
/*curriculum html start*/

.cl-box{
  display: inline-flex;
  text-align: left;
}

.cl-box h2{
  border: none;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 5rem;
  font-weight: normal;
}

.cl-box p{
  font-size: 2rem;
  font-family: 'ZCOOL XiaoWei', serif;
}

.cl-bg-box{
  background: #4b0f08;
  border-radius:20px;
  opacity: 90%;
  border-color: #595443;
  border-style: solid;
  border-width: 5px;
}

.profile{
  text-align: center;
}

/*contact me html start*/
.split{
  display: flex;
  justify-content: center;
}
.contact-box{
  color: #735c40;
  font-size: 3.125rem;
  font-family: 'UnifrakturMaguntia', cursive;
}

.contact-box h2{
  display: flex;
  font-family: 'Yuji Boku', serif;
  justify-content: center;
  text-shadow: none;
}

.form-container{
  background-color: #4b0f08;
  border-color: #595443;
  border-radius: 7px;
  border-style: solid;
  border-width: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 30px;
  width: 30%;
}
.form-container label{
  color: #735c40;
}

.form-box{
  margin-top: 10%; 
}

.form-box button{
  cursor: pointer;
}

.form-box button:hover, .form-box button:focus, .form-box button:active{
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.form-box input,textarea,button{
  background-color: #3d0d07;
  border-radius: 10px;
  border: none;
  color: #735c40;
  padding: 4%;
  font-size: 1rem;
  margin-bottom: 5%;
  font-family: 'Yuji Boku', serif;
}

.cont-btext{
  display: flex;
  justify-content: space-evenly;
}
.contact-icon {
  color: #735c40;
  font-size: 6.25rem;
}

/*footer start*/
.footer-phrase{
  font-size: 2.5rem;
}

.footer-cr p{
  font-size: 1.25rem;
}

.footer-cr a{
  color: #735c40;
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}