

body{
  background-color: #000;
  font-family: 'Yuji Boku', serif;
  text-align: center;
  justify-content: center;
  margin: 0;
}
h1{
  color: #4b0f08;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 9rem;
  font-weight: bold;
  letter-spacing: .375rem;
  margin-bottom: 3.125rem;
  text-shadow: 0rem -0.375rem 0rem #735c40;
}
h2{
  color: #4b0f08;
  text-shadow: .3125rem 0rem 0rem #595443;
  text-align: center;
}
p{
  font-size: 2rem;
  color: #735c40;
}

form > label{
  display: flex;
  justify-content: center;
}

iframe{
  margin-bottom: 30px;
}

footer{
  color: #735c40;
  background: #4b0f08;
  margin-top: 300px;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 1.25rem;
  padding: 10px 0 10px;

}

/*header start*/

.index-h1::before,
.index-h1::after {
  background: #735c40;
  content: "";
  display: block;
  height: 7px;
  width: 1219px;
  margin-left: 418px;
}

.index-h1 h1{
  margin: .25rem;
}
 
.main-header{
  margin-top: 336px;
}

.index-img-box img{
  border-radius: 14px;
  border: solid 5px #595443;
}

.index-img-1 img{
  height: 200px;
  margin-bottom: -172px;
  width: 494px;
}

.index-img-2 img{
  height: 494px;
  margin-left: 107px;
  transform: rotate(90deg);
  width: 200px;
  margin-top: 60px;
}

.square{
  background: #4b0f08;
  height: 135px;
  left: 747px;
  top: 311px;
  position: absolute;
  width: 344px;
  z-index: -2;
}

.square-2{
  left: 1008px;
  top: 688px;
}



/*menu start*/
.nav-container{
  margin: 0 auto;
  max-width: 850px;
  transform: rotate(90deg);
  width: 85%;
  position: fixed;
  right: -336px;
  top: 438px;
}

.nav-menu ul{
  display: flex;
  justify-content: space-between;
  width: 372px;
  padding: 0;
  margin: 0;
}

.nav-menu ul li{
  display: inline-block;
}

.nav-menu ul li a{
  color: #0000;
  display: block;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 1.5625rem;
  letter-spacing: .625rem;
  padding: 8px 16px;
  transition: 1.4s;
  background: 
    linear-gradient(90deg,#900000 50%,#735c40 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
}

.nav-menu a:hover{
  --_p: 0%;
  font-size: 1.5rem;
}

.home-icon{
  color: #735c40;
  transform: rotate(270deg);
  font-size: 2.5rem;
  padding-left: 12px;
}



/*profile starts*/

.profile-container h2{
  display: inline-block;
  font-family: 'UnifrakturMaguntia', cursive;  
  font-size: 4.375rem;
  font-weight: normal;
  max-width: 1000px;
  padding: 1.25rem;
}

.profile-container img, iframe{
  border-color: #735c40;
  border-style: double;
  border-width: 10px;
}

.margin-box{
  margin-bottom: 50px;
}

.proyects-img img, iframe{
  max-width: 1000px;
}

.img2{
  max-width: 577.6px;
}

.img3{
  max-width: 496px;
}

.profile-container span{
  color: #735c40;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 1.875rem;
  opacity: 92%;
  width: 600px;
}



 
/*curriculum html start*/

.cl-box{
  display: inline-flex;
  width: 1200px;
  text-align: left;
  gap: 80px;
}

.cl-box h2{
  border: none;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 5.625rem;
  font-weight: normal;
 
}

.cl-box p{
  font-size: 2.5rem;
  font-family: 'ZCOOL XiaoWei', serif;
}

.cl-bg-box{
  background: #4b0f08;
  border-radius:20px;
  opacity: 90%;
  border-color: #595443;
  border-style: solid;
  border-width: 5px;
}

.profile{
  text-align: center;
}

/*contact me html start*/

.contact-box{
  color: #735c40;
  font-size: 3.125rem;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 200px;
  margin-top: 170px;
  font-family: 'UnifrakturMaguntia', cursive;
}

.contact-box h2{
  display: flex;
  font-family: 'Yuji Boku', serif;
  justify-content: center;
  text-shadow: none;
}

.form-container{
  background-color: #4b0f08;
  border-color: #595443;
  border-radius: 7px;
  border-style: solid;
  border-width: 10px;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;
  width: 30%;
}
.form-container label{
  color: #735c40;
}

.form-box{
  justify-content: center;
  margin-top: 30px; 
}

.form-box button{
  cursor: pointer;
  margin-left: 45%;
}

.form-box button:hover, .form-box button:focus, .form-box button:active{
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.form-box input,textarea,button{
  background-color: #3d0d07;
  border-radius: 20px;
  border: none;
  color: #735c40;
  padding: 22px;
  font-size: 1.875rem;
  margin-bottom: 30px;
  font-family: 'Yuji Boku', serif;
}

.contact-icon {
  color: #735c40;
  font-size: 6.25rem;
}

/*footer start*/
.footer-phrase{
  font-size: 2.5rem;
}

.footer-cr p{
  font-size: 1.25rem;
}

.footer-cr a{
  color: #735c40;
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}